/* Elements */

body
{
	background-image: url('../img/bg.jpg');
	color: #ffffff;
	font-family: 'Deja Vu Sans';
	font-weight: 400;
	font-size: 1em;
}

input
{
	margin: 0;
	padding: 0;
	border: 0;
	
	color: #ffffff;
	font-family: 'Deja Vu Sans';
	font-weight: 400;
}

/* Layout */

.container
{
	margin-top: 17%;
	text-align: center;
}

.break
{
	height: 0px;
	display: block;
}

/* Logo - top */

.logo-circle
{
	display: inline-block;

	width: 192px;
	height: 192px;
	border-radius: 96px;
	
	background-color: #1E1F21;
}

.logo
{
	width: 128px;
	height: 128px;

	background-image: url("../img/logo.png");
	
	margin-top: 20px;
	margin-left: 32px;
}

/* Login form - middle */

.login
{
	margin-top: 20px;
	display: inline-block;
	background-color: #1E1F21;
	
	padding-bottom: 10px;
}

.title
{
	text-align: center;
	padding-top: 6px;
	padding-bottom: 4px;
	font-size: 1.2em;
	
	border-bottom: 3px solid #BA3435;
}

.input-row 
{
	margin-top: 10px;
	margin-bottom: 0px;
}

.label
{
	width: 224px;
	display: inline-block;
	text-align: right;
}

.input-row input
{
	width: 197px;
	margin-left: 10px;
	margin-right: 10px;
	height: 1.2em;
	display: inline-block;
	
	padding-right: 4px;
	padding-left: 4px;
	
	padding-top: 4px;
	padding-bottom: 4px;
	
	background-color: #313234;
	
	color: #ffffff;
	
	font-size: 1em;
}

.input-row input:focus
{
	border-bottom: 3px solid #BA3435;
	padding-bottom: 1px;
}

/* System actions - bottom */

.actions
{
	text-align: center;
	margin-top: 20px;
}

.action-item
{
	display: inline-block;
	background-color: #1E1F21;
	border-radius: 18px;
	width: 32px;
	height: 32px;
	margin-left: 6px;
	margin-right: 6px;
	margin-top: 2px;
	margin-bottom: 2px;
	
	background-position: center;
	background-repeat: no-repeat;
}

.action-item:hover
{
	border: 2px solid #BA3435;
	padding: 0px;
	cursor: pointer;
	margin-left: 4px;
	margin-right: 4px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.suspend-icon
{
	background-image: url('../img/icons/suspend.svg');
}

.shutdown-icon
{
	background-image: url('../img/icons/shutdown.svg');
}

.hibernate-icon
{
	background-image: url('../img/icons/hibernate.svg');
}

.restart-icon
{
	background-image: url('../img/icons/restart.svg');
}


